@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<SectionContent SectionId="MainLayout.PaginaConteudo">
    <pre>  <img src="/images/home.png" />  Home </pre>
</SectionContent>

Welcome to your new app.
